.dark-medium-contrast {
  --md-sys-color-primary: rgb(171 205 255);
  --md-sys-color-surface-tint: rgb(164 201 254);
  --md-sys-color-on-primary: rgb(0 23 48);
  --md-sys-color-primary-container: rgb(110 147 197);
  --md-sys-color-on-primary-container: rgb(0 0 0);
  --md-sys-color-secondary: rgb(170 205 255);
  --md-sys-color-on-secondary: rgb(0 23 47);
  --md-sys-color-secondary-container: rgb(109 147 197);
  --md-sys-color-on-secondary-container: rgb(0 0 0);
  --md-sys-color-tertiary: rgb(231 187 248);
  --md-sys-color-on-tertiary: rgb(39 5 56);
  --md-sys-color-tertiary-container: rgb(170 130 187);
  --md-sys-color-on-tertiary-container: rgb(0 0 0);
  --md-sys-color-error: rgb(255 186 177);
  --md-sys-color-on-error: rgb(51 4 4);
  --md-sys-color-error-container: rgb(204 123 114);
  --md-sys-color-on-error-container: rgb(0 0 0);
  --md-sys-color-background: rgb(17 19 24);
  --md-sys-color-on-background: rgb(225 226 233);
  --md-sys-color-surface: rgb(18 19 24);
  --md-sys-color-on-surface: rgb(252 250 255);
  --md-sys-color-surface-variant: rgb(67 71 78);
  --md-sys-color-on-surface-variant: rgb(199 203 211);
  --md-sys-color-outline: rgb(159 163 171);
  --md-sys-color-outline-variant: rgb(127 131 139);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(226 226 233);
  --md-sys-color-inverse-on-surface: rgb(40 42 47);
  --md-sys-color-inverse-primary: rgb(33 73 119);
  --md-sys-color-primary-fixed: rgb(212 227 255);
  --md-sys-color-on-primary-fixed: rgb(0 17 39);
  --md-sys-color-primary-fixed-dim: rgb(164 201 254);
  --md-sys-color-on-primary-fixed-variant: rgb(7 55 100);
  --md-sys-color-secondary-fixed: rgb(211 228 255);
  --md-sys-color-on-secondary-fixed: rgb(0 18 38);
  --md-sys-color-secondary-fixed-dim: rgb(163 201 254);
  --md-sys-color-on-secondary-fixed-variant: rgb(3 55 100);
  --md-sys-color-tertiary-fixed: rgb(246 217 255);
  --md-sys-color-on-tertiary-fixed: rgb(33 0 51);
  --md-sys-color-tertiary-fixed-dim: rgb(226 183 244);
  --md-sys-color-on-tertiary-fixed-variant: rgb(74 40 90);
  --md-sys-color-surface-dim: rgb(18 19 24);
  --md-sys-color-surface-bright: rgb(56 57 63);
  --md-sys-color-surface-container-lowest: rgb(12 14 19);
  --md-sys-color-surface-container-low: rgb(26 27 32);
  --md-sys-color-surface-container: rgb(30 31 37);
  --md-sys-color-surface-container-high: rgb(40 42 47);
  --md-sys-color-surface-container-highest: rgb(51 53 58);
  --md-extended-color-yellow-friend-color: rgb(211 206 120);
  --md-extended-color-yellow-friend-on-color: rgb(24 23 0);
  --md-extended-color-yellow-friend-color-container: rgb(152 148 68);
  --md-extended-color-yellow-friend-on-color-container: rgb(0 0 0);
  --md-extended-color-orange-club-color: rgb(255 188 145);
  --md-extended-color-orange-club-on-color: rgb(41 15 0);
  --md-extended-color-orange-club-color-container: rgb(198 128 80);
  --md-extended-color-orange-club-on-color-container: rgb(0 0 0);
}
