@import "tailwindcss";

input[type="color"] {
  -webkit-appearance: none;
  appearance: none;
  background-color: transparent;
  border: none;
  padding: 0;
  margin: 0;
  width: 2.5rem;
  height: 2.5rem;

  &::-webkit-color-swatch {
    border: none;
    border-radius: 0.25rem;
  }

  &::-webkit-color-swatch-wrapper {
    padding: 0;
  }
}
